/* Primary Sections */
.main-navbar {
    background-color: #161617CC;
    display: flex;
}

.main-menu { 
	display: flex;
	margin: 0 8px;
	align-items: center;
	font-size: 12px;
	font-weight: 400;
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	justify-content: space-between;
	width: calc(100% - 90px);
}

.main-ribbon {
	display: flex;
	background-color: white;
	font-size: 14px;
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 auto;
	justify-content: center;
}
	
.main {
	max-width: calc(80% - 20px);
    margin: 1px;
    background-color: aliceblue;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 200px;
	border: solid white;
	text-align: center;
}

.main-second {
	display: flex;
	max-width: calc(50% - 20px);
	width: 100%;
    background-color: gray;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	outline: solid white;
}

.main-alignment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer {
	background-color: #F5F5F7;
    display: flex;
    align-content: center;
    justify-content: space-between;
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.fine-print > li {
	margin: 8px;
}

.right-align {
	display: flex;
	justify-content: space-between;
}

.footer-bottom {
	display: flex;
	justify content: space-between;
	margin: 8px;
	padding: 8px;
}

.footer-bottom li {
	margin-right: 10px;
}

/* Font Sizing */

/*.headline {
	font-size: 56px;
	font-weight: 600px;
}

.subhead {
	font-size: ;
	font-weight: ;
}
*/

/* General Tag Styles */

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

/* li > a {
	color: white;
}

.style {
	color: white;
}
